$backgroundColor: #f1faee;
$headerBackgroundColor: #000;
$profileUserBackgroundColor: #f1faee;
$colorDark: #000;
$colorWhite: #fff;

header {
    background-color: $headerBackgroundColor;
}

.container-theme {
    background-color: $backgroundColor;
    width: 100vw;
    height: 100vh;
}

.profile-user {
    background-color: $profileUserBackgroundColor;
    color: $colorWhite;
}

.repository-list{
    color: $colorWhite;
    background-color: $backgroundColor;
}

.icon-logo-github {
    color: $colorWhite;
}