$backgroundColor: #f1faee;
$headerBackgroundColor: #000;
$profileUserBackgroundColor: #8b8b8b;
$colorDark: #000;
$colorWhite: #fff;

.secondary-container-theme {
    background-color: $backgroundColor;
    width: 100vw;
    height: 100vh;

    header {
        background-color: $headerBackgroundColor;
    }

    .profile-user {
        background-color: $profileUserBackgroundColor;
        color: $colorWhite;
    }
    
    .repository-list{
        color: $colorWhite;
        background-color: $backgroundColor;
    }
    
    .icon-logo-github {
        color: $colorWhite;
    }
}
