$backgroundColor: #000;
$headerBackgroundColor: rgba(#fff, 0.9);
$profileUserBackgroundColor: rgb(41, 41, 41);
$colorDark: #000;
$colorWhite: #c9d1d9;

.primary-container-theme {
    background-color: $backgroundColor;
    width: 100vw;
    height: 100vh;

    header {
        background-color: $headerBackgroundColor;
    }

    .profile-user {
        background-color: $profileUserBackgroundColor;
        color: $colorWhite;
    }

    .repository-list{
        color: $colorWhite;
        background-color: $backgroundColor;
    }

    #icon-logo-github {
        color: $colorWhite;
    }

}
